/* for font-family:inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
button:hover {
    transform: scaleY(1.05);
    background-color: #06010a;
    cursor: pointer;
}

/* hamburger color */

nav {
    background-color: #220d41;
}

/* hero section */
.hero {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    min-height: 700px;

    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}

.hero .container {
    position: relative;
    max-width: 550px;
    min-height: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    left: 525px;
    top: 45px;

}

.circle {
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 5;
    width: 350px;
    height: 350px;

}

.mic {
    position: absolute;
    top: 69px;
    left: 210px;
    z-index: 10;
}



.badge {
    background-color: #00FF88;
    color: #1a0b2e;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    padding: 8px 16px;
    position: absolute;
    left: 350px;
    top: 10px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px 1px gray;
}

.brand-desc {
    position: absolute;
    top: 390px;
}

.brand-desc h3 {
    font-weight: bolder;
    font-size: 3.75rem;
    text-align: center;
    color: white;

}

.brand-desc p {
    color: rgba(239, 231, 231, 0.676);
}

.btn-cls {
    position: absolute;
    top: 500px;
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 100px;

}

/* podcast */
.podcast {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}

.text-content {
    margin-bottom: 80px;
    max-width: 1200px;
}

.text-content h3 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 16px;

}

.text-content p {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}

.rating {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
}

.rating .box {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.rating .box h2 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    color: #00FF88;

}

.rating .box p {
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-size: 1rem;
    color: #ffffff96;
    text-transform: uppercase;
}


/* choose techwave */
.choose-techwave,
.feature {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 120px;
    background-color: #230E3D;
    


}

.choose-techwave h2 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
}

.technology {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;

}

.grid-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}

.grid-box img {
    width: 60px;
    height: 60px;

}

.grid-box h4 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    color: #ffffff;
}

.grid-box p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-align: left;
    color: rgb(152, 147, 147);
}

.headphone {
    grid-row: span 2;
}

.mobile {
    grid-column: span 2;
}

footer{
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}

/* feature section */

/* Responsiveness */
@media screen and (max-width:640px) {
    .podcast {
        max-width:440px;
        padding: 40px 20px 40px 20px;
    }

    .text-content {
        margin-bottom: 40px;
        max-width: 400px;
    }

    .text-content h3 {
        font-size: 1.5rem;
    }

    .text-content p {
        font-weight: 400;
        font-size: 1rem;
    }

    .rating {
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .rating .box {
        max-width: 180px;
        flex-wrap: wrap;
    }

    .rating .box h2 {
        font-size: 2.5rem;
    }

    .rating .box p {
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        font-size: .6rem;
        color: #ffffff96;
        text-transform: uppercase;
    }

    /* technolodgy section */

    .choose-techwave {
        max-width: 440px;
        padding: 20px 20px 40px 20px;
    }

    .technology {
        max-width: 400px;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;


    }

    .choose-techwave h2 {
        font-size: 1.5rem;

    }

    .grid-box h4 {
        font-size: .9rem;

    }

    .feature {
        max-width: 440px;
        padding: 40px 20px;
    }

    /* hero */

    .hero {
        width: 100%;
        max-width: 440px;

    }

    .hero .container {
        width: 100%;
        max-width: 400px;
        height: 386px;
        gap: 24px;
        /* left:625px;
    top:45px; */
        left: 20px;
        top: 40px;

    }

    .circle {
        left: 100px;
        top: 50px;
        width: 200px;
        height: 200px;


    }

    .mic {
        top: 110px;
        left: 160px;
        width: 80px;
        height: 80px;
    }



    .badge {

        left: 230px;
        top: 60px;

    }

    .brand-desc {
        top: 264px;
    }

    .brand-desc h3 {
        font-size: 2rem;
    }

    .brand-desc p {
        color: rgba(239, 231, 231, 0.676);
    }

    .btn-cls {
        top: 382px;
        margin-top: 10px;

    }



}
